.front-page-img {
    background: url('../img/index/frontpage.jpg'); 
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front-page-img-cover {
    height: 500px;
}

.img-box-setup {
    height: 200px;
    background-color: red;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-food-area {
    background: url('../img/index/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 320px) {
    .front-page-img {
        background: url('../img/index/frontpage.jpg'); 
        height: 340px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .front-page-img-cover {
        height: 340px;
    }
}