.front-page-img {
    background: url('../img/index/frontpage.jpg'); 
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front-page-img-cover {
    height: 500px;
}

.img-box-setup {
    height: 500px;
    background-color: red;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
}

.img-food-area {
    background: url('../img/index/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 16.666667%;
}

.img-drink-area {
    background: url('../img/index/drink.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8.333333%;
}

.img-gallery-area {
    background: url('../img/index/gallery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8.333333%;
}

@media only screen and (max-width: 320px) {
    .front-page-img {
        background: url('../img/index/frontpage.jpg'); 
        height: 340px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .front-page-img-cover {
        height: 340px;
    }
}

@media only screen and (max-width: 425px) {

    .img-food-area {
        background: url('../img/index/food.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }
    .img-drink-area {
        background: url('../img/index/food.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }
    .img-gallery-area {
        background: url('../img/index/food.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }

}